In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [10]:
data = pd.DataFrame({
    'age': reversed([20, 18, 24, 30, 27, 35, 39, 41, 42]),
    'salary': [1000, 3000, 6000, 10000, 13000, 15000, 20000, 30000, 40000]
})

In [11]:
data

   age  salary
0   42    1000
1   41    3000
2   39    6000
3   35   10000
4   27   13000
5   30   15000
6   24   20000
7   18   30000
8   20   40000

### CoVariance

In [12]:
data.salary.var()

165500000.0

In [13]:
data.cov()

             age       salary
age         82.0    -107750.0
salary -107750.0  165500000.0

### Correlation

In [16]:
data_pearson = pd.DataFrame({
    'math': [16, 18, 14],
    'stat': [10, 20, 5]
})

In [17]:
data_pearson.corr(method='pearson') # Default Method = Pearson

          math      stat
math  1.000000  0.981981
stat  0.981981  1.000000

In [20]:
my_data = pd.DataFrame({
    'english': [56, 75, 45, 71, 62, 64, 58, 80, 76, 61],
    'math': [66, 70, 40, 60, 65, 56, 59, 77, 67, 63]
})

In [21]:
my_data.corr(method='pearson')

          english      math
english  1.000000  0.805881
math     0.805881  1.000000

In [24]:
my_data.corr(method='spearman')['english']

english    1.000000
math       0.672727
Name: english, dtype: float64

In [26]:
my_data.corr(method='kendall')['math']

english    0.511111
math       1.000000
Name: math, dtype: float64