Sample

In [29]:
pop = list(range(1, 11))
pop

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
# Sample from population: Radnom Lib (Without Replacement)

from random import sample

sample(pop, 5)

[8, 2, 6, 4, 5]

In [35]:
# Sample from population: Numby Lib (With Replacement)

import numpy as np

np.random.choice(pop, 4, replace=True)

array([2, 5, 7, 2])

Mean

In [36]:
data = [12, 16, 17, 18, 15, 16, 90, 95]

In [37]:
# Mean: Python way 1

total = 0
for x in data:
    total += x
print(total / len(data))

34.875

In [38]:
# Mean: Python way 2

print(sum(data) / len(data))

34.875

In [39]:
# Mean: Numpy way

np.mean(data)

34.875

Median

In [52]:
data = [3, 5, 4, 1, 2, 6]

In [50]:
sorted(data)

[1, 2, 3, 4, 5, 6]

In [54]:
# Median: Python way

data.sort()

if len(data) % 2 == 1:
    m = len(data) // 2
    median = data[m]
else:
    m1 = len(data) // 2
    m2 = len(data) // 2 - 1
    median = (data[m1] + data[m2]) / 2

print(median)

3.5

In [55]:
# Median: Numpy way

np.median(data)

3.5

Mode

In [57]:
data = [1, 2, 2, 3, 3, 4, 5]

In [61]:
set(data)

{1, 2, 3, 4, 5}

In [60]:
# Mode: Python way

max_count = 0

for x in data:
    count = data.count(x)
    max_count = max(max_count, count)

for x in set(data):
    if data.count(x) == max_count:
        print('mode: ', x)

mode:  2
mode:  3

In [67]:
from collections import Counter

print(Counter(data))

Counter({2: 2, 3: 2, 1: 1, 4: 1, 5: 1})

In [66]:
# Mode: SciPy way

from scipy import stats

print(stats.mode(data))

ModeResult(mode=array([2]), count=array([2]))

Range

In [73]:
data = [1, 2, 3, 4, 5, 6, 90, 12, 5, 4]

In [74]:
# Range: Python way

max(data) - min(data)

89

In [78]:
# IQR: (Python & Numpy) way

Q1, Q2, Q3 = np.quantile(data, [0.25, 0.5, 0.75])

IQR = Q3 - Q2

IQR

1.25

STD & VAR

In [81]:
data = [1, 2, 3, 4, 5, 6, 90, 12, 5, 4]

In [82]:
# VAR & STD: Python way

total = 0
for x in data:
    total += (x - np.mean(data))**2

var = total / len(data)
std = var ** 0.5

var, std

(663.3599999999999, 25.755776051208397)

In [84]:
# VAR & STD: Numpy way

np.var(data), np.std(data)

(663.3599999999999, 25.755776051208397)

Missing Data & Noise

In [85]:
import pandas as pd
import numpy as n
data = pd.DataFrame({
    'Name': ['Karim', 'Mohamad', 'Shahryar', 'Delaram', 'Parisima'],
    'Age': [None, 300, 20, 18, 25],
    'Salary': [12000, None, None, 10000, 5000.0]
})


data.style.apply(lambda x: ["background-color: #ff35" if (type(v) != str and v == 300) 
                            else "" for i, v in enumerate(x)], axis = 1)